@model IEnumerable<LoginandRegisterMVC.Models.User>

@{
    ViewBag.Title = "Dashboard Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Wellcome In Admin Panel</h1>

<h2>Dashboard Home</h2>

Hello @Session["Role"]

