@{
    ViewBag.Title = "Guide";
}

<h2>User Guide</h2>
<br />

<ul>
    <li>
        Search Doctor => Select <b>specilization</b> and <b>locality</b> from dropdown list & enter search button.
    </li>
    <br />
    <li>
        Book Appointment =>  From the given details of Doctors please select appropriate Clinic and <b>Book your slot for appointment</b>.
    </li>
    <br />

    <li>
        Help => For any kind of help please visit  help section on <b>Home</b> page.
    </li>
    <br />
    <li>
        BMI => To calculate your BMI please visit <b>Get BMI</b> section on Home Page.
    </li>
    <br />

    <li>
        Diet Recommendation => For diet recommendation please visit <b>Get Diet Recommendation</b> section on Home Page.
    </li>

</ul>
<hr />
<h4>
    Please provide feedback after complition of your appointment by clicking on triggered message on Home page.
</h4>

