@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<<<<<< Updated upstream
<p>Hello Juned Shaikh.</p>
=======
<p>Hello Yuvraj Sampath</p>
<p>hii</p>
>>>>>>> Stashed changes
